biometria/methods/utils.pyc
biometria/methods/orientation_field.pyc
biometria/methods/options.pyc
biometria/methods/normalization.pyc
biometria/methods/__init__.pyc
biometria/main.pyc
biometria/__init__.pyc
